{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

    <div class="navegacao">
        <p><a href="{{url_for('index')}}">Index</a> >> <a href="{{url_for('login')}}">Login</a><p>
    </div>
    <div class="container__login">
        <div class="titulo__divisor">
            <hr class="divisor">
            <h1 class="tasks__titulo">Login</h1>
            <hr class="divisor divisor-botom">
        </div>
        <div class="container__login__box">
            <form class="forms_default forms_default--grid" method="post" action="{{ url_for( 'autenticar' ) }}">
                <input hidden id="proximo" name="proximo" value="{{ proximo }}">
                <label for="usuario" class="container__login__label tasks__label">Usuario</label>
                <input type="text" id="usuario" name="usuario" class="container__login__input">

                <label for="senha" class="container__login__label tasks__label">Senha</label>          
                <input type="password" name="senha" class="container__login__input senha">
                    <span class="mostra" onclick="mostrarSenha()">
                        <i class="fa-solid fa-eye"></i>
                    </span>
                    <span class="esconde" style="display: none;" onclick="esconderSenha()">
                        <i class="fa-solid fa-eye-slash"></i>
                    </span>

                <button type="submit" class="btn_submit container__login__btn">Entrar</button>
            </form>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/senha.js')}}"></script>
{% endblock %}